body {
  background: #eeedec;
  letter-spacing: 0.2em;
  font-size: 0.8em;
}

.container {
  max-width: 400px;
}

.icon {
  position: relative;
  text-align: center;
  top: -50px;
  left: 135px;
  border-radius: 50%;
  width: 100px;
  margin-bottom: -50px;
  background: rgb(228, 226, 226);
}
